# APP
PORT=9999

# DB
POSTGRES_USER=user
POSTGRES_PASSWORD=s3cr3t_pass
POSTGRES_DB=example_db
POSTGRES_DB_PORT=5432
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_DB_PORT}/${POSTGRES_DB}?schema=public"